# **Edinburgh bikes**

# připojení do databáze

## import modulů

In [ ]:
!pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 725 kB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql

## vytvoření enginu

In [ ]:
engine = create_engine("mysql+pymysql://data-student:u9AB6hWGsNkNcRDm@data.engeto.com:3306/data_academy_04_2022")

## prohlídka dat

In [ ]:
df_bikes = pd.read_sql(sql='select * from edinburgh_bikes', con = engine)
df_bikes.head(5)

,index,started_at,ended_at,duration,start_station_id,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude
0,0,2018-09-15 08:52:05,2018-09-15 09:11:48,1182,247,Charlotte Square,North Corner of Charlotte Square,55.952335,-3.207101,259,St Andrew Square,North East corner,55.954728,-3.192653
1,1,2018-09-15 09:24:33,2018-09-15 09:41:09,995,259,St Andrew Square,North East corner,55.954749,-3.192774,262,Canonmills,near Tesco's,55.962804,-3.196284
2,2,2018-09-15 09:48:54,2018-09-15 10:46:40,3466,262,Canonmills,near Tesco's,55.962804,-3.196284,250,Victoria Quay,Entrance to Scottish Government Office,55.977638,-3.174116
3,3,2018-09-16 12:01:36,2018-09-16 12:25:26,1430,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,254,Kings Building 3,Kings Building House,55.923479,-3.175385
4,4,2018-09-16 12:03:43,2018-09-16 12:11:16,452,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,253,Kings Building 2,Sanderson Building,55.923202,-3.171646

In [ ]:
df_bikes.isna().sum()

index                           0
started_at                      0
ended_at                        0
duration                        0
start_station_id                0
start_station_name              0
start_station_description    2710
start_station_latitude          0
start_station_longitude         0
end_station_id                  0
end_station_name                0
end_station_description      3003
end_station_latitude            0
end_station_longitude           0
dtype: int64

In [ ]:
df_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438259 entries, 0 to 438258
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   index                      438259 non-null  int64
 1   started_at                 438259 non-null  object
 2   ended_at                   438259 non-null  object
 3   duration                   438259 non-null  int64
 4   start_station_id           438259 non-null  int64
 5   start_station_name         438259 non-null  object
 6   start_station_description  435549 non-null  object
 7   start_station_latitude     438259 non-null  float64
 8   start_station_longitude    438259 non-null  float64
 9   end_station_id             438259 non-null  int64
 10  end_station_name           438259 non-null  object
 11  end_station_description    435256 non-null  object
 12  end_station_latitude       438259 non-null  float64
 13  end_station_longitude      438259 non-null  float64
dtypes: float64(4), int64(4), object(6)
memory usage: 46.8+ MB